<div class="container-times">
  <li *ngFor="let time of times" style="list-style: none" (click)="navegaLocal(time)">
    <div>
      Keypad: {{time.keypad}}
    </div>
    <div>
      Area: {{time.area}}
    </div>
	<div>
      Equipe:
    </div>
    <div>
      Pontos: {{time.pontos}}
    </div>
  </li >
    <li>
    <div>
      Camera Mapa
    </div>
	</li>
	<li>
	 <div>
      Camera Flyer
    </div>
	</li>
	<li>
	 <div>
      Campeão
    </div>
  </li>
</div>
<div class="container-dinamica">
  <div class="container-start">
    <div>HOME</div>
    <div (click)="reset()">Instruções </div>
  </div>

	<div (click)="proximaPergunta()">>>></div>
	<div (click)="mostraPergunta()"> Mostra<br>Pergunta</div>
	<div> Abrir<br>Votação</div>
	<div> Fechar<br>Votação</div>
	<div> Mostra<br>Votos</div>
	<div (click)="mostraResposta()"> Mostra<br>Resposta</div>
  
  <div class="container-actual">
    <div>Pergunta Atual:  {{perguntaAtual.id}}</div>
    <div>resposta             :  {{perguntaAtual.resposta}}</div>
  </div>

</div>
<div class="container-demo">
  <div class="perguntaAtual" [ngStyle]="backgroundPergunta"></div>
  <div class="respostaAtual" [ngStyle]="backgroundResposta"></div>
</div>